@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide the scrollbar for the container */
.scroll-container::-webkit-scrollbar {
    width: 0.4em;
  }
  
  .scroll-container::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  